.content {
    width: 100%;
    text-align: center;

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45em;

        .hat{
            position: absolute;
            top:2rem;
            width: 580px;
            z-index: 1;
            animation: animateshat 0.3s linear infinite alternate;
            filter:drop-shadow(0px -1px 20px #122005);
            
        }
        .face{
            width: 650px;
            display: block;
            animation: animatestext 1s linear infinite alternate;
            filter:drop-shadow(0px 1px 20px #122005);
            

        }
        .content__error{
            margin-top: 0;
        }
    }
    &__numbers {
        position:absolute;
        display: flex;
        flex-direction: row;
        width: 270px;
        justify-content: space-between;
    }

    &__number {
        font-size: 3rem;
        font-family: Archivo;
        font-weight: 600;
        top: 22rem;
        right: 52.3rem;
        color: #122005;
        animation: animatestext 0.3s linear infinite alternate;
        text-shadow: 1px 1px 2px #122005, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(20, 138, 79);
    }

    &__number2 {
        font-size: 2.5rem;
        font-family: Archivo;
        font-weight: 600;
        top: 22.5rem;
        right: 62.6rem;
        color: #122005;
        animation: animatestext 0.3s linear infinite alternate;
        text-shadow: 1px 1px 2px #122005, 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(20, 138, 79);
    }

    &__error {
        color: #122005;
        width: 100%;
        margin-top: 0;
        margin-bottom: 70px;
        text-align: center;
        font-family: Archivo;
        font-size: 3rem;
    }

    &__button {
        background-color: #122005;
        color: #95b799;
        font-weight: 600;
        font-family: Archivo;
        font-size: 2rem;
        margin-top: 0.8rem;;
        padding: 1em 1em;
        border-radius: 13px;
        text-decoration: none;
    }
}



@keyframes animatestext {
    0% {
        transform: rotate(5deg);
        filter:drop-shadow(0px 1px 20px #122005);
    }

    100% {
        transform: rotate(-5deg);
        filter:drop-shadow(0px 30px 60px #122005);
    }
}

@keyframes animateshat {
    0% {
        transform: translateY(10px);
       }

    100% {
        transform:  translateY(-10px);
    }
}