.error{
    margin:0;
    padding:0;
    background-image: url(/src/asset/images/background404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.conten{
    position: fixed;
    top:4em;
    width:100%;
    text-align: center;
    &__img{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 300px;
            display: block;
        }
    }
    &__number{
        position: absolute;
        font-size: 4rem;
        font-family: Archivo;
    }

}