body {
  background: url(../images/background_pc.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  .principal {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 10%;

    .logo2{
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
      @media (min-width: 640px) {
        display: none;
      }
    }
    
  }
  /*-----------MAIN-----------*/

  main {
    display: flex;

    .popular {
      font-family: Archivo;
      font-weight: 400;
      font-size: 2em;

      text-align: center;
      margin-top: 30px;
      margin-bottom: 12px;
      @media (max-width: 640px) {
        display: none;
      }
      
    }

    .news_header {
      font-family: Archivo;
      font-weight: 400;
      font-size: 3em;

      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      

      @media (min-width: 640px) {
        text-transform: uppercase;
      }
    }

    .green_box {
      font-family: Archivo;
      font-weight: 500;

      background-color: #95b799;
      padding: 30px;
      width: 610px;
      height: 600px;
      margin-top: 20px;
      margin-left: 25px;
      border-radius: 8px;
      box-shadow: 0px 0px 30px 0.5px rgb(92, 92, 92);

      text-align: justify;
      text-justify: auto;
      justify-items: center;
      align-items: center;

      @media (max-width: 640px) {
        display: none;
      }

      .avatar {
        border-radius: 50%;
        border-color: #122005;
        border-width: 4px;
        border-style: solid;
        vertical-align: middle;

        height: 3vw;
        width: 3vw;
       
      }

      .top_members {
        list-style: none;

        span {
          font-size: 20px;
          padding-left: 8px;
          margin-left: 5px;
          @media (max-width: 1365px) {
            font-size: 1vw;
            padding-left: 5px;
          }
        }

        li {
          margin-top: 3%;
        }
      }

      span {
        font-size: 1vw;
        text-align: justify;
        text-justify: auto;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        align-content: space-between;
      }

      h3 {
        font-size: 2vw;
        text-align: center;
        text-justify: auto;
        margin-top: 6%;
        margin-bottom: 7%;

        font-size: 1.5rem;
        font-weight: 600px;
      }

      div {
        display: flex;
        justify-content: space-between;
      }
    }

    section{ 
       
      .intro{
          font-family: Archivo;
          font-weight: 400;
          font-size: clamp(16px,2vw,25px);
          text-align:justify;
      }
      .section__text{
        font-family: Archivo;
        font-size: 14px;
        text-align: center;
        margin-bottom: 5px;
        
        @media (min-width: 640px) {
          display: none;
        }
      }
    
    }

    .white_box {
      width: 80%;
      margin: 0 auto;
      padding: 30px;
      border-radius: 8px;
      background-color: #effbf3;
      box-shadow: 0px 5px 10px 1px rgb(92, 92, 92);
      @media (max-width: 640px) {
        display: none;
      }

      h2 {
        font-family: Archivo;
        font-weight: 500;
        font-size: 2vw;
        margin-bottom: 1%;
      }
      }
      a {
        text-decoration: none;
        color: #122005;
      }
    }

    .author {
      img {
        border-radius: 50%;
        border-color: #122005;
        border-width: 3px;
        border-style: solid;
        vertical-align: middle;

        height: 40px;
        width: 40px;
      }

      span {
        font-family: Archivo;
        font-weight: 400;
        font-size: 1em;
        margin-left: 5px;
      }
    }
    .new img {
      justify-content: center;
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
    }

    .new img:hover {
      filter: blur(2);         
      transition: background-color 0.5s;
    }

    .new_mobile{
      display:none;
      @media (max-width: 640px) {
        display: block;
      }
    }
    @media (max-width: 640px) {
      background: url(../images/background_phone.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; 
    }
  }

