
  .principal {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 10%;

    .logo2 {
      margin: auto;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      display: block;

      @media (min-width: 870px) {
        display: none;
      }
    }

  }

  /*-----------MAIN-----------*/

  main {
    display: flex;
    
    .popular {
      font-family: Archivo;
      font-weight: 400;
      font-size: 2em;

      text-align: center;
      margin-top: 1.875rem;
      margin-bottom: 0.75rem;

      @media (max-width: 870px) {
        display: none;
      }

    }

    .news_header {
      font-family: Archivo;
      font-weight: 400;
      font-size: 3em;

      text-align: center;
      margin-top: 0.9375rem;
      margin-bottom: 0.9375rem;


      @media (min-width: 870px) {
        text-transform: uppercase;
      }
    }

    .green_box {
      font-family: Archivo;
      font-weight: 500;

      background-color: #95b799;
      padding: 0.625rem 1.875rem 1.875rem 1.875rem;
      width: 38.125rem;
      height: fit-content;
      margin-top: 1.25rem;
      margin-left: 1.5625rem;
      border-radius: 0.5rem;
      box-shadow: 0rem 0rem 1.875rem 0.0313rem rgb(92, 92, 92);

      text-align: justify;
      text-justify: auto;
      justify-items: center;
      align-items: center;

      @media (max-width: 870px) {
        display: none;
      }

      .avatar {
        border-radius: 50%;
        border-color: #122005;
        border-width: 0.25rem;
        border-style: solid;
        vertical-align: middle;

        height: 3vw;
        width: 3vw;

      }

      .top_members {
        list-style: none;

        span {
          font-size: 1.25rem;
          padding-left: 0.5rem;
          margin-left: 0.3125rem;

          @media (max-width: 1365px) {
            font-size: 1vw;
            padding-left: 0.3125rem;
          }
        }

        li {
          margin-top: 3%;
        }
      }

      .top_members span:hover {
        cursor: pointer;
        text-decoration:underline;
      }

      span {
        font-size: 1vw;
        text-align: justify;
        text-justify: auto;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        align-content: space-between;
      }

      h3 {
        text-align: center;
        text-justify: auto;
        margin-top: 5%;
        margin-bottom: 6%;
        padding-top: 4%;

        font-size: 1.8rem;
        font-weight: 37.5rem;

        @media (max-width: 1500px) {
          font-size: 1.2rem;
        }
      }

      div {
        display: flex;
        justify-content: space-between;
      }
    }

    section {

      .intro {
        font-family: Archivo;
        font-weight: 400;
        font-size: clamp(1rem, 2vw, 1.5625rem);
        text-align: justify;
      }

      .section__text {
        font-family: Archivo;
        font-size: 0.875rem;
        text-align: center;
        margin-bottom: 0.3125rem;

        @media (min-width: 870px) {
          display: none;
        }
      }

      .section__text2 {
        font-family: Archivo;
        font-size: 1.6vw;
        text-align: center;
        margin-bottom: 0.3125rem;

        
      }

    }

    .white_box {
      width: 80%;
      margin: 0 auto;
      padding: 1.875rem;
      border-radius: 0.5rem;
      background-color: #effbf3;
      box-shadow: 0rem 0.3125rem 0.625rem 0.0625rem rgb(92, 92, 92);

      @media (max-width: 870px) {
        display: none;
      }

      h2 {
        font-family: Archivo;
        font-weight: 500;
        font-size: 2vw;
        margin-bottom: 1%;
      }
    }

    a {
      text-decoration: none;
      color: #122005;
    }
  }

  .author {
    img {
      border-radius: 50%;
      border-color: #122005;
      border-width: 0.1875rem;
      border-style: solid;
      vertical-align: middle;

      height: 2.5rem;
      width: 2.5rem;
    }

    span {
      font-family: Archivo;
      font-weight: 400;
      font-size: 1em;
      margin-left: 0.3125rem;
    }
  }

  

  .new img {
    justify-content: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.3125rem;

  }

  .new img:hover {
    filter: blur(2);
    transition: background-color 0.5s;
  }

  .new_mobile {
    display: none;

    @media (max-width: 870px) {
      display: block;
    }
  }

  
