*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.register_main{
    
    @media (max-width: 750px) {
        padding-bottom: 2rem;
        height: fit-content;
      }
}
.form-login_register{
    width: 38rem;
    height: 700px;
    background-color: #95b799;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 11.25rem;
    box-shadow: 17px 10px 8px #12200594;
    padding: 2.25rem 2.875rem;
    border-radius: 2rem;
    color:#122005;
    @media (max-width: 750px) {
        width: 15rem;
        height: 700px;
        
      }
}

.form-login_register h5{
    font-family: Archivo;
    margin: 0;
    text-align: center;
    height: 1.25rem;
    margin-bottom: 1.875rem;
    font-size: 1.25rem;
}

.select{
    width: 100%;
    border: 2px solid #122005;
    margin-bottom: 0.9375rem;
    padding: 11px 10px;
    background: #d8e9da;
    font-size: 0.975rem;
    font-weight: bold;

}

.controls{
    width: 100%;
    border: 2px solid #122005;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #d8e9da;
    font-size: 0.975rem;
    font-weight: bold;
}

.button_register{
    width: 100%;
    height: 40px;
    border-radius: 0.6rem;
    background-color: #122005;
    color: #d8e9da;
    margin-bottom: 20px;
    cursor:pointer;
}

.form-login_register p{
    height: 2.5rem;
    text-align: center;
    @media (max-width: 750px) {
        height: 1.8rem;
      }
   
}

.form-login_register a{
    font-family: Archivo;
    color: #122005;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 60px;
    text-shadow: 1px 1px 4px #122005;
    @media (max-width: 750px) {
        font-size: 0.9rem;
        margin-bottom: 1.25rem;
      }
    
}

.form-login_register a:hover{
    text-decoration: underline;
}