.threads {
    display: block;

    .threads__ul {

        color: #95b799;

        .threads__li {
            font-family: Archivo;
            background-color: #122005;

            a {
                color: #95b799;
            }
        }
    }

    .white_box {
        margin-top: 15px;
        padding: 1%;
        padding-left: 2%;
        width: 90%;
    }

    .author img {
        width: 50px;
        height: 50px;
        border-radius: 150px;
        border-width: 3px;
        margin-right: 6px;
    }
}

.search_bar {
    background-color: #95b799;
    width: 10%;
    margin-left: 1%;
    margin-right: 20%
}