.character{
    padding-left: 5%;
    padding-right: 5%;
    @media (max-width: 870px) {
        display:flex;
        flex-direction: column;
    }

}

.character__text{
    text-align: justify;
    font-family: Archivo;
    margin-top: 1.5rem;
    font-size: 1.2em;
    @media (max-width: 1400px) {
        font-size: 1em;
    }
}

.character__aside{
    display:flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    margin: 3% auto;
    border-radius: 0.5rem;
    background-color: #effbf3;
    box-shadow: 0rem 0.3125rem 0.625rem 0.0625rem rgb(92, 92, 92);
    align-items: center;

    @media (max-width: 1400px) {
        width: 30%;
    }

    @media (max-width: 870px) {
        width: 50%;
    }
    


    .character__profile{
        width: 100%;
    }
   
    .character__profile img{
        width: 100%;
    }
}
 
.character__details{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-row-gap:0.6rem;
    grid-column-gap:0.6rem;
    padding: 1rem;
    align-self: center;
    @media (max-width: 1400px) {
        font-size: 1vw;
    }
   
    
}

.character__details span{
    font-family: Archivo;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 0.9vw;
    @media (max-width: 1400px) {
        font-size: 1.2vw;
    }
    @media (max-width: 870px) {
        font-size: 1.5vw;
    }
}

.details__tittle{
    font-weight: 600;
}
.details__column{
    display: flex;
    flex-direction: column;
}

.character__card{
    width: 70%;
    height:fit-content;
    margin: 3% auto;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.5rem;
    background-color: #effbf3;
    box-shadow: 0rem 0.3125rem 0.625rem 0.0625rem rgb(92, 92, 92);

    @media (max-width: 1400px) {
        width: 60%;
    }
    @media (max-width: 870px) {
        width: 100%;
    }

}


.character__h1{
    font-family: Archivo;
    font-size: 2.5rem;
    font-weight: 600;
    
   }

.character__h3{
 font-family: Archivo;
 color: #effbf3;
 font-size: 1.55rem;
 font-weight: 200;
 padding-top: 0.625rem;
 padding-bottom: 0.625rem;
 background-color: #122005;
 width: 100%;
 text-align: center;
}

.character_quote{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.character__p{
    font-family: Archivo;
    font-size: 2vw;
    font-style: oblique;
    
}

.character__p2{
    font-family: Archivo;
    font-size: 1.3vw;
    font-style: oblique;
    margin-top: 1%;
}


