.character{
    padding-left: 5%;
    padding-right: 5%;

}

.character__text{
    text-align: justify;
    font-family: Archivo;
    margin-top: 25px;
    
}



.character__card{
    width: 70%;
    margin: 3% auto;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 0.5rem;
    background-color: #effbf3;
    box-shadow: 0rem 0.3125rem 0.625rem 0.0625rem rgb(92, 92, 92);
}


.character__h1{
    font-family: Archivo;
    font-size: 2.5rem;
    font-weight: 600;
    
   }

.character__h3{
 font-family: Archivo;
 color: #effbf3;
 font-size: 1.55rem;
 font-weight: 200;
 padding-top: 0.625rem;
 padding-bottom: 0.625rem;
 background-color: #122005;
 width: 100%;
 text-align: center;
}



.character__p{
 font-family: Archivo;
 font-size: 1.575rem;
}

.character__aside{
    display:flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    margin: 3% auto;
    border-radius: 0.5rem;
    background-color: #effbf3;
    box-shadow: 0rem 0.3125rem 0.625rem 0.0625rem rgb(92, 92, 92);
    align-items: center;

    .character__profile{
        width: 100%;
    }
   
    .character__profile img{
        width: 100%;
    }
}
 
