header {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    background: #122005;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .search_bar {
        background-color: #95b799;
        width: 10%;
        margin-left: 1%;
        margin-right: 20%;
      }

      li {
        font-family: Archivo;
        font-size: 1.6em;
        font-weight: 600;

        display: inline-flex;
        padding: 30px;

        list-style: none;
        text-align: center;
      }

      a:hover {
        scale: 1.2;
        color: #ffffff;
        transition: color 2.7s;
        transition: scale 0.8s;
      }

      a {
        color: #d8e9da;
        list-style: none;
        text-decoration: none;
      }

      > img {
        width: 10%;
      }

      > img:hover {
        scale: 1.1;
        transition: scale 0.8s;
      }

      input {
        width: 80%;
      }
    }
  }